{
  "semi": false,
  "singleQuote": true,
  "max_line_length": 100,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "trailingComma" : "none",
  "bracketSpacing": true,
  "quoteProps": "as-needed"
}
