:root {
  --bg-color: azure;
  --inverted-bg-color: dimgray;
  --primary-color: chocolate; // Цвет текста заголовка
  --secondary-color: cornflowerblue; // Цвет текста под заголовком
  --inverted-primary-color: lightcoral;
  --inverted-secondary-color: lightpink;
}
